################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Observer Pattern/.vs/Observer Pattern
/Observer Pattern/Observer UI
